@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url("assets/icons.woff2") format('woff2');
}

.icn {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 1.3em;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 0;
    transition: font-variation-settings 0.3s ease;
}

@keyframes jump {
    50% {
        text-shadow: 0 0 10px var(--col-txt1);
    }
}

.bWicn:hover .material-symbols-rounded {
    font-variation-settings: 'FILL' 1;
    animation: jump 2s var(--time1);
}

.bicn:hover {
    font-variation-settings: 'FILL' 1;
    animation: jump 2s var(--time1);
}

:root {
    --font-size-base: 1rem;

    /* basic colors */
    --col-bg1: #101010;
    --col-txt1: #FFFFFF;
    --col-bg2: #171717;
    --col-bg3: #262626;
    --col-bgh: #43281d;
    --col-txth: #ff946f;

    --col-good: #5be45b;
    --col-bad: #d44343;

    /* sizing */
    --sizing-normal: 0.5rem;
    --sizing-huge: 1rem;
    --sizing-nano: .3rem;

    --siz-radius1: 0.5em;
    --siz-radius2: 0.35em;
    --siz-radius3: 0.2em;

    --spacing-normal: 0.3rem;
    --spacing-gap: 6px;

    /* easing */
    --time1: cubic-bezier(0.36, 0.38, 0, 0.94);
    --time2: cubic-bezier(0.42, 1.67, 0.21, 0.90);

    /* decor */
    --box-crisp: 1px solid #ffffff0c;
    --box-crisp-col: #ffffff0c;

    /* Extended support */
    --colors-accent: rgb(97, 121, 255);

    --font-size-small: calc(var(--font-size-base) * 0.85);
    --font-size-normal: var(--font-size-base);
    --font-size-subheading: calc(var(--font-size-base) * 1.25);
    --font-size-big: calc(var(--font-size-base) * 2);
}

@media (max-width: 768px) {
    :root {
        ----time1: .5s;
    }
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: var(--col-bg2);
    width: 5px;
    border-radius: var(--siz-radius1);
}

@keyframes barExpandVert {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

::-webkit-scrollbar-thumb {
    background-color: var(--col-bg3);
    border-radius: var(--siz-radius1);
    border: 1px solid #7a7a7a4a;
    animation: barExpandVert var(--time2);
}

::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

html {
    height: 100%;
    width: 100%;
    font-size: var(--font-size-base);
}

button,
input,
textarea,
select {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: var(--col-bg1);
    color: var(--col-txt1);
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

body * {
    transition-timing-function: cubic-bezier(0.36, 0.38, 0, 0.94);
}

input::placeholder,
textarea::placeholder {
    color: var(--col-txt1);
    opacity: .5;
}

.contextmenu {
    position: absolute;
    text-align: center;
    background: var(--col-bg2);
    border: 1px solid var(--col-bg2);
    color: var(--col-txt1);
    border-radius: 0.5rem;
    box-shadow: 0px 3px 5px 0px #0000005c;
    overflow: visible;
    animation: pop3 .2s;
    z-index: 99;
    font-size: var(--font-size-small);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.3rem;
    gap: 0.3rem;
}

.ctxmenuitem {
    text-align: left;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    padding-left: 0.3rem !important;
    gap: 0.5rem;
}

.ctxmenuitem .material-symbols-rounded {
    font-size: 1rem;
    opacity: 0.5;
}

.ctxmenuitem:hover {
    background: var(--col-bg3);
}

@keyframes pop3 {
    from {
        filter: opacity(0%);
        transform: scale(0.9);
    }

    to {
        filter: opacity(100%);
    }
}

.material-symbols-rounded {
    font-weight: 300 !important;
}

/* tasks list */

@keyframes ignite {
    0% {
        opacity: 0;
        transform: translate(-5px, -5px);
    }

    100% {
        opacity: 1;
        transform: 0;
    }
}

#tasks_main_tree {
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.ind_task {
    gap: .5em;
    position: relative;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    transition: .25s cubic-bezier(0.42, 1.67, 0.21, 0.90);
    margin-bottom: .5em;
    animation: ignite .3s cubic-bezier(0.42, 1.67, 0.21, 0.90);

    &>.task_hir_line {
        background: grey;
        opacity: .2;
        width: 1px;
        height: 120%;
        position: absolute;
        z-index: -1;
        margin-left: -31px;
    }

    &>.new_task_btn {
        opacity: 0;
        transition: .2s;
    }

    &:hover {
        &>.new_task_btn {
            opacity: 1;
        }
    }
}

.task_inner {
    display: flex;
    flex-direction: row;
    background-color: var(--col-bg2);
    border-radius: .5em;
    width: fit-content;
    min-width: 300px;
    margin-left: 1em;
    border: var(--box-crisp);
    align-items: center;
    gap: .5em;
    transition: .2s;
    padding: .5em;
    position: relative;

    &>.task_expand {
        transition: .3s;
    }

    &:hover {
        background-color: var(--col-bg3);
    }

    &>.icn {
        padding: .2em;
        border-radius: 1em;
        border: 1px solid transparent;

        &:hover {
            border: var(--box-crisp);
        }
    }

    .task_data {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        height: fit-content;
        min-height: 2.8em;

        &>.fakeInput {
            background-color: transparent;
            color: inherit;
            border: none;
            font-size: 1.1em;
            padding: .3em;
            transition: padding 0.3s, background 0.3s, height .5s;
            box-sizing: border-box;
            white-space: wrap;
            z-index: 3;
            max-width: 400px;
            overflow: hidden;
            overflow-wrap: anywhere;
            user-select: text;
            cursor: text;
            outline: none;
            height: fit-content;
        }

        &>.task_additional {
            opacity: 0.5;
            overflow: hidden;
            transition: opacity .3s, transform .3s, height .3s;
            padding: 0 .3em;
            transform-origin: bottom;
            height: 1.5em;
        }

        &:has(> .fakeInput.focus) {
            padding-bottom: 0;

            &>.fakeInput {
                padding: .7em 1em;
                background-color: var(--col-bg1);
                border-radius: .5em;
                border: var(--box-crisp);
                height: 3em;
                max-height: 40vh;
                overflow-y: auto;
            }

            &>.task_additional {
                transition: opacity .3s, transform .3s, height 0s;
                opacity: 0;
                height: 0;
                padding: 0;
            }
        }
    }
}

.del_task_btn {
    background: var(--col-bg2);
    border: var(--box-crisp);
    width: fit-content;
    display: flex;
    padding: .3em;
    gap: .5em;
    border-radius: 1em;
    margin-left: .8em;
    position: absolute;
    right: -3.4em;
    top: 23px;
    transition: .5s;
}

.new_task_btn {
    background: var(--col-bg2);
    border: var(--box-crisp);
    width: fit-content;
    display: flex;
    padding: .3em;
    gap: .5em;
    border-radius: 1em;
    margin-left: .8em;
    position: absolute;
    left: -60px;
    top: 23px;
    transition: .5s;
}

.ancestor_hover .new_task_btn {
    opacity: 1;
    box-shadow: 0 0 1em 1em var(--col-bg1);
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: var(--col-bg2);
    margin-bottom: 1em;
    padding: .5em;
    gap: .5em;
    align-items: center;

    & .btn {
        background-color: transparent;
        border: 1px solid transparent;

        &:hover {
            background: var(--col-bg3);
            border: var(--box-crisp);
        }
    }
}

.btn {
    padding: .2em .5em;
    background: var(--col-bg3);
    border: var(--box-crisp);
    border-radius: .5em;

    &>.label {
        gap: .5em;
        align-items: center;
    }

    & .icn {
        opacity: .5;
        font-size: 1em;
    }
}

.nav .logo {
    &>img {
        width: 25px;
        height: 25px;
    }
}

.nav * {
    display: flex;
}

.seperator {
    flex: 1;
}

.divider {
    margin: 0 .5em;
    width: 1px;
    background-color: #7676762c;
}

input[type="text"] {
    background-color: transparent;
    color: inherit;
    font: inherit;
    font-size: inherit;
    outline: 0;
    border: 0;
    min-width: 0;
}

.vert {
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.nav .group {
    gap: .2em;
    align-items: center;

    &.inputs {
        background-color: var(--col-bg1);
        border-radius: var(--siz-radius1);
        padding-right: .5em;
        margin: auto;
        width: 75vw;
        max-width: 600px;

        input {
            background-color: transparent;
            color: inherit;
            font: inherit;
            font-size: inherit;
            outline: 0;
            border: 0;
            padding: .3em .5em;
            flex: 1;
            min-width: 0;
        }

        .icn {
            font-size: 1.2em;
            opacity: .5;
        }
    }
}

@keyframes up {
    0% {
        transform: translateY(5px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
    }
}

.nav .dropdown {
    position: relative;

    & .dropdown_content {
        display: none;
        position: absolute;
        flex-direction: column;
        left: 0em;
        border: var(--box-crisp);
        top: 2.4em;
        background-color: var(--col-bg3);
        z-index: 99;
        min-width: 10em;
        overflow: visible;
        border-radius: .5em;
        box-shadow: 0 0 5px #00000041;
        animation: up .3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &::before {
            content: "";
            position: absolute;
            width: 6em;
            height: 3em;
            top: -1.5em;
        }

        &>.btn {
            border-radius: 0;
            border: 0;
            align-items: center;
            box-shadow: 0 1px 0 var(--box-crisp-col);
            padding: .5em;

            &>.label {
                flex: 1;
            }

            &:hover {
                filter: brightness(120%);
            }
        }
    }

    &:hover .dropdown_content {
        display: flex;
    }
}

@keyframes shaking {
    50% {
        padding: 1.5em;
    }
}

.drag_over {
    padding: 2em !important;

}

.screen {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(1em);
    opacity: 0;
    pointer-events: none;
    transition:
        transform .3s cubic-bezier(0.1, 1.07, 1, 1),
        opacity .25s ease;
    top: 60px;
    background-color: var(--col-bg1);
}

.screen.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
}

.screen.left {
    transform: translateY(1em);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}


.headerBanner {
    background-image: url(https://wallpapercat.com/w/full/b/a/9/1209998-3840x2160-desktop-4k-glow-in-the-dark-background-photo.jpg);
    background-position: 50% 85%;
    padding: 1em;
    border-radius: 1em;
    margin: 0 1em;
    aspect-ratio: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 1em #0000006e;
    font-size: clamp(14px, 2vw, 25px);

    &>* {
        margin: .3em;
    }
}

.listlistCont {
    display: flex;
    flex-direction: column;
    margin: .5em auto;
    max-width: 1000px;
    width: 100%;
    margin-top: 2em;

    & .label {
        font-size: 1em;
        opacity: .5;
        margin-bottom: .5em;
        margin-left: .5em;
    }
}

.singList {
    display: flex;
    flex-direction: row;
    padding: .8em;
    background: var(--col-bg2);
    border-radius: .5em;
    align-items: center;
    margin-bottom: .5em;
    gap: .5em;
    justify-content: center;
    font-size: 1.2em;

    &>.statusicn {
        display: inherit;

        &>svg {
            width: 25px;
            height: auto;
            aspect-ratio: 1 / 1;
        }
    }
}

button.addNewRootTask {
    width: fit-content;
    padding: .5em;
    border: var(--box-crisp);
    border-radius: .5em;
    margin: 1em;
    display: flex;
    align-items: center;
    color: var(--col-txt1);
    background: var(--col-bg2);
    gap: .5em;

    &:hover {
        color: var(--col-txth);
        background: var(--col-bgh);
    }
}

#file_actions {
    flex: 1;
}

.progressbarCont {
    justify-content: center;

    &>.label {
        font-size: 14px;
    }
}

.progressbar {
    height: 5px;
    width: 100px;
    background-color: grey;
    border-radius: 1em;
    overflow: hidden;

    &>.progressbarline {
        min-width: 5px;
        height: 5px;
        background-color: #5be45b;
    }
}