@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url("assets/icons.woff2") format('woff2');
}

.icn {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 0;
    transition: font-variation-settings 0.3s ease;
}

@keyframes jump {
    50% {
        text-shadow: 0 0 10px var(--col-txt1);
    }
}

.bWicn:hover .material-symbols-rounded {
    font-variation-settings: 'FILL' 1;
    animation: jump 2s var(--time1);
}

.bicn:hover {
    font-variation-settings: 'FILL' 1;
    animation: jump 2s var(--time1);
}

:root {
    --font-size-base: 1rem;

    /* basic colors */
    --col-bg1: #101010;
    --col-txt1: #FFFFFF;
    --col-bg2: #171717;
    --col-bg3: #262626;
    --col-bgh: #43281d;
    --col-txth: #ff946f;

    --col-good: #5be45b;
    --col-bad: #d44343;

    /* sizing */
    --sizing-normal: 0.5rem;
    --sizing-huge: 1rem;
    --sizing-nano: .3rem;

    --siz-radius1: 0.5em;
    --siz-radius2: 0.35em;
    --siz-radius3: 0.2em;

    --spacing-normal: 0.3rem;
    --spacing-gap: 6px;

    /* easing */
    --time1: cubic-bezier(0.36, 0.38, 0, 0.94);
    --time2: cubic-bezier(0.42, 1.67, 0.21, 0.90);

    /* decor */
    --box-crisp: 1px solid #ffffff0c;
    --box-crisp-col: #ffffff0c;

    /* Extended support */
    --colors-accent: rgb(97, 121, 255);

    --font-size-small: calc(var(--font-size-base) * 0.85);
    --font-size-normal: var(--font-size-base);
    --font-size-subheading: calc(var(--font-size-base) * 1.25);
    --font-size-big: calc(var(--font-size-base) * 2);
}

@media (max-width: 768px) {
    :root {
        ----time1: .5s;
    }
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: var(--col-bg2);
    width: 5px;
    border-radius: var(--siz-radius1);
}

@keyframes barExpandVert {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

::-webkit-scrollbar-thumb {
    background-color: var(--col-bg3);
    border-radius: var(--siz-radius1);
    border: 1px solid #7a7a7a4a;
    animation: barExpandVert var(--time2);
}

::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

html {
    height: 100%;
    width: 100%;
    font-size: var(--font-size-base);
}

button,
input,
textarea,
select {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: var(--col-bg1);
    color: var(--col-txt1);
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

body * {
    transition-timing-function: cubic-bezier(0.36, 0.38, 0, 0.94);
}

input::placeholder,
textarea::placeholder {
    color: var(--col-txt1);
    opacity: .5;
}

.contextmenu {
    position: absolute;
    text-align: center;
    background: var(--col-bg2);
    border: 1px solid var(--col-bg2);
    color: var(--col-txt1);
    border-radius: 0.5rem;
    box-shadow: 0px 3px 5px 0px #0000005c;
    overflow: visible;
    animation: pop3 .2s;
    z-index: 99;
    font-size: var(--font-size-small);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.3rem;
    gap: 0.3rem;
}

.ctxmenuitem {
    text-align: left;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    padding-left: 0.3rem !important;
    gap: 0.5rem;
}

.ctxmenuitem .material-symbols-rounded {
    font-size: 1rem;
    opacity: 0.5;
}

.ctxmenuitem:hover {
    background: var(--col-bg3);
}

@keyframes pop3 {
    from {
        filter: opacity(0%);
        transform: scale(0.9);
    }

    to {
        filter: opacity(100%);
    }
}

.material-symbols-rounded {
    font-weight: 300 !important;
}

/* tasks list */

#tasks_main_tree {
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: .5em;
}

.ind_task {
    gap: .5em;
    position: relative;
    margin-left: 2em;
    display: flex;
    flex-direction: column;

    &>.task_inner {
        display: flex;
        flex-direction: row;
        background-color: var(--col-bg2);
        border-radius: .5em;
        width: fit-content;
        min-width: 300px;
        margin-left: 1em;
        border: var(--box-crisp);
        align-items: center;
        gap: .5em;
        padding: 0 .5em;

        &>.icn {
            padding: .2em;
            background: var(--col-bg3);
            border-radius: 1em;
        }

        &>.task_data {
            flex: 1;

            &>input {
                background-color: transparent;
                color: inherit;
                border: none;
                font-size: 1.1em;
                padding: 0;
            }

            &>.task_additional {
                opacity: .5;
            }
        }
    }

    &>.task_hir_line {
        background: grey;
        opacity: .2;
        width: 1px;
        height: 100%;
        position: absolute;
        z-index: -1;
        margin-left: 32px;
    }

    &>.new_task_btn {
        opacity: 0;
        transition: .2s;
    }

    &:hover {
        &>.new_task_btn {
            opacity: 1;
        }
    }
}

.new_task_btn {
    background: var(--col-bg3);
    border: var(--box-crsip);
    width: fit-content;
    display: flex;
    padding: 0;
    gap: .5em;
    border-radius: .5em;
    margin-left: .8em;
    position: absolute;
    left: -2em;
    top: .75em;
}

.ancestor_hover .new_task_btn {
    opacity: 1
}