@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url("assets/icons.woff2") format('woff2');
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    src: url("assets/google_sans.ttf") format('truetype');
}

.icn {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 1.3em;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 0;
    transition: font-variation-settings 0.3s ease;
}

@keyframes jump {
    50% {
        text-shadow: 0 0 10px var(--col-txt1);
    }
}

.bWicn:hover .material-symbols-rounded {
    font-variation-settings: 'FILL' 1;
    animation: jump 2s var(--time1);
}

.bicn:hover {
    font-variation-settings: 'FILL' 1;
    animation: jump 2s var(--time1);
}

:root {
    --font-size-base: 1rem;

    /* basic colors */
    --col-bg1: #101010;
    --col-txt1: #FFFFFF;
    --col-bg2: #171717;
    --col-bg3: #262626;
    --col-bgh: #9b6cef;
    --col-txth: #ffffff;

    --col-good: #5be45b;
    --col-bad: #d44343;

    --spacing-normal: 0.3rem;

    /* easing */
    --time1: cubic-bezier(0.36, 0.38, 0, 0.94);
    --time2: cubic-bezier(0.42, 1.67, 0.21, 0.90);

    /* decor */
    --box-crisp: 1px solid #ffffff0c;
    --box-crisp-col: #ffffff0c;

    /* Extended support */
    --colors-accent: rgb(97, 121, 255);

    --font-size-small: calc(var(--font-size-base) * 0.85);
    --font-size-normal: var(--font-size-base);
    --font-size-subheading: calc(var(--font-size-base) * 1.25);
    --font-size-big: calc(var(--font-size-base) * 2);
}

@media (max-width: 768px) {
    :root {
        ----time1: .5s;
    }
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: var(--col-bg2);
    width: 5px;
    border-radius: .5em;
}

@keyframes barExpandVert {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

::-webkit-scrollbar-thumb {
    background-color: var(--col-bg3);
    border-radius: .5em;
    border: 1px solid #7a7a7a4a;
    animation: barExpandVert var(--time2);
}

::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

html {
    height: 100%;
    width: 100%;
    font-size: var(--font-size-base);
}

button,
input,
textarea,
select {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: var(--col-bg1);
    color: var(--col-txt1);
    user-select: none;
    font-family: "Google Sans", sans-serif;
}

body * {
    transition-timing-function: cubic-bezier(0.36, 0.38, 0, 0.94);
}

input::placeholder,
textarea::placeholder {
    color: var(--col-txt1);
    opacity: .5;
}

.contextmenu {
    position: absolute;
    text-align: center;
    background: var(--col-bg2);
    border: 1px solid var(--col-bg2);
    color: var(--col-txt1);
    border-radius: 0.5rem;
    box-shadow: 0px 3px 5px 0px #0000005c;
    overflow: visible;
    animation: pop3 .2s;
    z-index: 99;
    font-size: var(--font-size-small);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.3rem;
    gap: 0.3rem;
}

.ctxmenuitem {
    text-align: left;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    padding-left: 0.3rem !important;
    gap: 0.5rem;
}

.ctxmenuitem .material-symbols-rounded {
    font-size: 1rem;
    opacity: 0.5;
}

.ctxmenuitem:hover {
    background: var(--col-bg3);
}

@keyframes pop3 {
    from {
        filter: opacity(0%);
        transform: scale(0.9);
    }

    to {
        filter: opacity(100%);
    }
}

.material-symbols-rounded {
    font-weight: 300 !important;
}

/* tasks list */

#tasks_main_tree {
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.ind_task {
    gap: .5em;
    position: relative;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    transition: .25s cubic-bezier(0.42, 1.67, 0.21, 0.90);
    margin-bottom: .5em;

    &>.task_hir_line {
        background: grey;
        opacity: .2;
        width: 1px;
        height: 120%;
        position: absolute;
        z-index: -1;
        margin-left: -31px;
    }

    & .task_btn {
        opacity: 0;
        transition: .2s;
    }

    &:hover .task_btn {
        opacity: 1;
    }
}

.task_inner {
    display: flex;
    flex-direction: row;
    background-color: var(--col-bg2);
    border-radius: .5em;
    width: fit-content;
    min-width: 300px;
    margin-left: 1em;
    border: var(--box-crisp);
    align-items: center;
    gap: .5em;
    transition: .2s;
    padding: .5em;
    position: relative;

    &>.task_expand {
        transition: .3s;
    }

    &:hover {
        background-color: var(--col-bg3);
    }

    &>.icn {
        padding: .2em;
        border-radius: 1em;
        border: 1px solid transparent;

        &:hover {
            border: var(--box-crisp);
        }
    }

    .task_data {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        height: fit-content;
        min-height: 2.8em;

        &>.fakeInput {
            background-color: transparent;
            color: inherit;
            border: none;
            font-size: 1.1em;
            padding: .3em;
            transition: padding 0.3s, background 0.3s, height .5s;
            box-sizing: border-box;
            white-space: wrap;
            z-index: 3;
            max-width: 400px;
            overflow: hidden;
            overflow-wrap: anywhere;
            user-select: text;
            cursor: text;
            outline: none;
            height: fit-content;
        }

        &>.task_additional {
            color: #ffffffab;
            overflow: hidden;
            transition: opacity .3s, transform .3s, height .3s;
            padding: 0 .3em;
            transform-origin: bottom;
            height: 1.5em;
        }

        &:has(> .fakeInput.focus) {
            padding-bottom: 0;

            &>.fakeInput {
                padding: .7em 1em;
                background-color: var(--col-bg1);
                border-radius: .5em;
                border: var(--box-crisp);
                height: 3em;
                max-height: 40vh;
                overflow-y: auto;
            }

            &>.task_additional {
                transition: opacity .3s, transform .3s, height 0s;
                opacity: 0;
                height: 0;
                padding: 0;
            }
        }
    }
}

.task_btns {
    margin-left: .8em;
    position: absolute;
    right: -5.4em;
    top: 23px;
    display: inherit;
    gap: .5em;

    &>.task_btn {
        background: var(--col-bg2);
        border: var(--box-crisp);
        width: fit-content;
        display: flex;
        padding: .3em;
        gap: .5em;
        border-radius: 1em;
        transition: .5s;
    }
}

.ancestor_hover .new_task_btn {
    opacity: 1;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: var(--col-bg2);
    margin-bottom: 1em;
    padding: .5em;
    gap: .5em;
    align-items: center;

    .dropdown_content {
        &.right {
            left: auto;
            right: 0;

            &::before {
                right: 0;
            }
        }

        &::before {
            content: "";
            position: absolute;
            width: 6em;
            height: 3em;
            top: -1.5em;
            z-index: -1;
        }

        .btn {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: none;
            border-bottom: 1px solid var(--box-crisp-col);

            &:hover {
                background: var(--col-bg3);
                border: var(--box-crisp);
            }
        }
    }

    & .btn {
        background-color: transparent;
        border: 1px solid transparent;

        &:hover {
            background: var(--col-bg3);
            border: var(--box-crisp);
        }
    }
}

.btn {
    padding: .2em .5em;
    background: var(--col-bg3);
    border: var(--box-crisp);
    border-radius: .5em;

    &>.label {
        gap: .5em;
        align-items: center;
    }

    & .icn {
        opacity: 1;
        font-size: 1em;
    }
}

.nav .logo {
    &>img {
        width: 25px;
        height: 25px;
    }
}

.nav * {
    display: flex;
}

.seperator {
    flex: 1;
}

.divider {
    margin: 0 .5em;
    width: 1px;
    background-color: #7676762c;
}

input[type="text"] {
    background-color: transparent;
    color: inherit;
    font: inherit;
    font-size: inherit;
    outline: 0;
    border: 0;
    min-width: 0;
}

.vert {
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.group.inputs:focus-within {
    border-radius: 5px;
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 -13px 0px -11px var(--col-bgh) inset;
}


.nav .group {
    gap: .2em;
    align-items: center;

    &.inputs {
        background-color: var(--col-bg1);
        border-radius: .5em;
        margin: auto;
        width: 75vw;
        max-width: 600px;

        input {
            background-color: transparent;
            color: inherit;
            font: inherit;
            font-size: inherit;
            outline: 0;
            border: 0;
            padding: .3em .5em;
            flex: 1;
            min-width: 0;
        }

        .icn {
            font-size: 1.2em;
            opacity: .5;
            padding: 0 .5em;
        }
    }

    &.full {
        flex: 1;
    }
}

@keyframes up {
    0% {
        transform: translateY(5px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
    }
}

.dropdown {
    position: relative;

    &.hoverable:hover .dropdown_content {
        display: flex;
    }
}

.dropdown.open .dropdown_content {
    display: flex;
}

.dropdown_content {
    display: none;
    position: absolute;
    flex-direction: column;
    left: 0em;
    border: var(--box-crisp);
    top: 2.4em;
    background-color: var(--col-bg3);
    z-index: 99;
    min-width: 10em;
    overflow: visible;
    border-radius: .5em;
    box-shadow: 0 0 5px #00000041;
    animation: up .3s cubic-bezier(0.075, 0.82, 0.165, 1);

    &>.btn {
        border-radius: .5em;
        align-items: center;
        box-shadow: 0 5px 1em #00000036;
        padding: .8em 1em;
        display: flex;
        flex-direction: row;
        border: var(--box-crisp);

        &:first-child {
            border-radius: .5em .5em 0 0;
        }

        &:last-child {
            border-radius: 0 0 .5em .5em;
        }


        &>.label {
            flex: 1;
        }

        &:hover {
            filter: brightness(120%);
        }
    }
}

@keyframes shaking {
    50% {
        padding: 1.5em;
    }
}

.drag_over {
    padding: 2em !important;

}

.screen {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(1em);
    opacity: 0;
    pointer-events: none;
    transition: transform .3s cubic-bezier(0.1, 1.07, 1, 1), opacity .25s ease;
    top: 60px;
    background-color: var(--col-bg1);
    height: calc(100% - 80px);
}

.screen.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
}

.screen.left {
    transform: translateY(1em);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}


.headerBanner {
    background-color: var(--col-bg2);
    background-position: 50% 85%;
    padding: 1em;
    border-radius: .5em;
    margin-bottom: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 1em #0000006e;
    position: relative;
    font-size: clamp(14px, 2vw, 25px);
    border: var(--box-crisp);
    min-height: 130px;

    & .appIconHead {
        width: auto;
        aspect-ratio: 1;
        height: 2.5em;
        width: fit-content;
        object-fit: fill;
        object-position: center;
        border-radius: 50%;
        border: var(--box-crisp);
        margin-bottom: .5em;
        box-shadow: 0 0 1em #00000041;
    }

    &>.stats,
    #BannerStatusText {
        color: #ffffffab;

        & b {
            color: white;
        }
    }

    &>.stats {
        flex: 1;
        border-left: 1px solid #ffffff1c;
        padding-left: 1em;
    }

    &>* {
        margin: .3em;
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: .5em;

        &>h1,
        p {
            margin: 0;
        }
    }
}

.listlistCont {
    display: flex;
    flex-direction: column;
    margin: .5em auto;
    max-width: 1000px;
    width: calc(100% - 2em);
    padding: 0 1em;

    & .label {
        margin-left: .5em;
    }
}

.labeldim {
    font-size: 1.2em;
    opacity: .5;
}

.singList {
    display: flex;
    flex-direction: row;
    padding: .8em;
    background: var(--col-bg2);
    border-radius: .5em;
    align-items: center;
    gap: .5em;
    justify-content: center;
    font-size: 1.2em;
    border: var(--box-crisp);

    &>.statusicn {
        display: inherit;

        &>svg {
            width: 25px;
            height: auto;
            aspect-ratio: 1 / 1;
        }
    }
}

button.addNewRootTask {
    width: fit-content;
    padding: .5em;
    border: var(--box-crisp);
    border-radius: .5em;
    margin: 1em;
    display: flex;
    align-items: center;
    color: var(--col-txt1);
    background: var(--col-bg2);
    gap: .5em;

    &:hover {
        color: var(--col-txth);
        background: var(--col-bgh);
    }
}

#file_actions {
    flex: 1;
}

.progressbarCont {
    justify-content: center;

    &>.label {
        font-size: 14px;
    }
}

.progressbar {
    height: 5px;
    width: 100px;
    background-color: grey;
    border-radius: 1em;
    overflow: hidden;

    &>.progressbarline {
        min-width: 5px;
        height: 5px;
        background-color: #5be45b;
    }
}

.listsnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--box-crisp-col);
    padding-bottom: .5em;
}

.listsnav>.viewctrls {
    display: flex;
    background: var(--col-bg2);
    border-radius: .5em;
    padding: .2em;
    border: var(--box-crisp);
}

.listsnav>.viewctrls>div {
    padding: .4em;
    opacity: .8;
    font-size: 1.2em;
    border-radius: .3em;
}

.listsnav>.viewctrls>div.active {
    background: var(--col-bg3);
    opacity: 1;
}


.awaittext {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
    opacity: .5;
}

.listsList {
    gap: .5em;
    display: flex;
    flex-direction: column;
    margin-top: .5em;
    margin-bottom: 1em;

    &.grid {
        display: grid;
        grid-template-columns: 50% 50%;
        width: calc(100% - .5em);
    }
}

.task_inner.done {

    & .fakeInput {
        opacity: .5;
        pointer-events: none;
        text-decoration: line-through;
    }
}

#listManageDropdown {
    width: 150px;
}

.icn.moreOptions {
    padding: 9px;
    font-size: 1.2em;
    position: absolute;
    border-radius: .3em;
    right: .3em;

    &:hover,
    &.active {
        background-color: var(--col-bg3);
    }
}

div.newListBtn {
    position: absolute;
    z-index: 99;
    padding: 1em;
    background: var(--col-bgh);
    border-radius: 1em;
    color: var(--col-txth);
    bottom: 2em;
    right: 2em;
    display: flex;
    border: 1px solid var(--box-crisp);

    &>.icn {
        opacity: 1 !important;
        font-size: 1.5em !important;
    }
}

.loader {
    width: 1.2em;
    aspect-ratio: 1;
    border-radius: 3em;
    border: 2px solid #7b7b7bab;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scale(.8) scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scale(.8) scaleY(1) rotate(135deg)
    }

    50% {
        transform: scale(.8) scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scale(.8) scaleY(-1) rotate(-135deg)
    }
}

.loader.done {
    animation: none;
    clip-path: none;
    position: relative;
}

.loader.done::before {
    content: "";
    position: absolute;
    inset: 30%;
    height: 15px;
    width: 7px;
    border-right: 4px solid #4caf50;
    border-bottom: 4px solid #4caf50;
    transform: rotate(45deg) scale(0.6) translate(-10px, -6px) !important;
    animation: check .25s ease-out forwards;
}

@keyframes check {
    to {
        transform: rotate(45deg) scale(1);
    }
}


span#saveStatus {
    display: flex;
    align-items: center;
    gap: .5em;
    margin: 0 .5em;
    background-color: var(--col-bg3);
    padding: 3px 8px;
    border-radius: .5em;
    padding-right: 3px;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity .5s ease, transform .2s ease;
}

#saveStatus.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#saveStatus.done {
    background-color: var(--col-bg3);
}

#saveStatus.hide {
    opacity: 0.5;
}

.btngrp {
    gap: 0;
    overflow: hidden;
    border-radius: .5em;

    &>.btn {
        border-radius: 0;

    }

    &.horiz {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .5em;
        gap: 5px;
        overflow: visible;
    }
}

.moreAppsDropDownContent {
    width: fit-content;
    min-width: 0;

    &>.app {
        display: flex;
        flex-direction: column;
        gap: .8em;
        width: 4em;
        align-items: center;
        padding: 1em;
        border-radius: .5em;

        &>img {
            width: 2em;
        }

        &:hover {
            background-color: var(--col-bg2);
        }
    }
}

.task_additional>svg {
    width: auto;
    height: 13px;
    aspect-ratio: 1 / 1;
    margin-right: .4em;
    transform: scale(1.3);
}

.btn.colorBob {
    border-radius: .3em;
    flex: 1;
    width: 1em;
    padding: 0;
    position: relative;
    aspect-ratio: 1 / 1;
    outline: 1px solid transparent;
        transition: .3s;

    &>.tooltip {
        opacity: 0;
        position: absolute;
        display: flex;
        top: -2.8em;
        width: 100px;
        justify-content: center;
        right: calc(-50px + .3em);
        background: var(--col-bg2);
        padding: .3em;
        border-radius: .5em;
        box-shadow: 0 5px 10px #00000029;
        transition: .3s;
    }

    &:hover {
        outline: 1px solid var(--col-bg3);
        border-radius: 50%;

        &>.tooltip {
            opacity: .8;
        }
    }
}